.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fade-in 100ms ease-in forwards;
}

.modal-container[data-is-hidden="true"] {
    display: none;
}

.modal-container[data-is-hidden="false"] {
    display: block;
}